/backup
/elaborati
src/main/resources/FARM.gcubekey
src/main/resources/d4science.research-infrastructures.eu.gcubekey
src/main/resources/devNext.gcubekey
src/main/resources/devsec.gcubekey
src/main/resources/gCubeApps.gcubekey
src/main/resources/gcube.gcubekey
src/main/resources/howto.txt
src/main/resources/log4j.properties
src/main/resources/symm.key
src/test/resources/FARM.gcubekey
src/test/resources/d4science.research-infrastructures.eu.gcubekey
src/test/resources/devNext.gcubekey
src/test/resources/devsec.gcubekey
src/test/resources/gCubeApps.gcubekey
src/test/resources/gcube.gcubekey
src/test/resources/howto.txt
src/test/resources/log4j.properties
src/test/resources/symm.key
/target
